#page {
	width: 1200px;
	margin: 0 auto;
}

#content {
	padding: 0 20px 10px;
}

#footer {
	width: 300px;
	margin: auto;
	padding: 15px;
}

.container {
  max-width: 50%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.orders input {
	width: 80px !important;
}

.orders .btn, .edit-btn {
	float: right;
}

#quantity {
	display: block;
}

#price {
	margin: auto;
}

.price-span {
	font-style: italic;
}

.pagination {
	display: inline-block;
	margin: auto;
}

.pagination-container {
	text-align: center;
}

#space {
	margin-top: 20px;
}

ul.ui-menu {
	display: table;
	background-color: white;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.19);
}

.clear {
	clear: both;
}
